@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

:root {
  --purple: rgb(111, 133, 255);
  --gray: rgb(55, 55, 55);
  --green: rgb(30, 170, 45);
  --yellow: rgb(226, 193, 4);
  --placeholder: rgb(100, 100, 100);
}

* {
  font-family: 'Inter' !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .app {
  display: flex;
  flex: 1 1;
  height: 100%;
  width: 100%;
  background: rgb(16, 16, 16);
  overflow: hidden;
}

button, button:focus {
  outline: none;
  border: none;
  color: rgb(16, 16, 16);
}


.flex, .flex-col { 
  display: flex;
}
.flex-col { 
  flex-direction: column;
}
.flex-fill {
  flex: 1 1;
}

.hidden {
  opacity: 0;
}

.overflow {
  overflow: overlay;
  scroll-behavior: smooth;
}



.bg-gray {
  background: var(--gray);
  color: white;
}

.bg-green {
  background: var(--green);
  color: white;
}

.bg-yellow {
  background: var(--yellow);
  color: white;
}

.bg-neutral {
  background: var(--placeholder);
  color: white;
}

.bg-placeholder {
  outline: 1px solid rgb(100, 100, 100);
  color: white;
}



.input, .input:focus {
  padding: .5rem 0;
  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;
  outline: none;
  border: none;
  width: 16rem;
  background: transparent;
  color: var(--purple);
  border-bottom: .2rem solid var(--purple);
  border-radius: 0;
}

.input::placeholder {
  color: var(--purple);
  opacity: .6;
}


.main-screen {
  align-items: center;
  justify-content: center;
  color: var(--purple);
}

.main-screen > .title-label {
  font-size: 18vw;
  font-weight: 900;
  animation: bounce .6s linear infinite alternate-reverse;
  margin-bottom: 5vh;
}

.main-screen > .menu {
  width: 100%;
  align-items: center;
}

.main-screen > .menu button {
  background: var(--purple);
  font-weight: 800;
  font-size: 4vmin;
  outline: none;
  border: none;
  height: 30vmin;
  width: 30vmin;
  border-radius: 100%;
  cursor: pointer;
}

.main-screen > .menu button:nth-child(odd) {
  margin-left: -30%;
  animation: pulse .6s linear infinite alternate-reverse;
}

.main-screen > .menu button:nth-child(even) {
  margin-right: -30%;
  animation: pulse .6s linear infinite alternate-reverse 1s;
}

.main-screen .input {
  margin-bottom: 2rem;
}

.main-screen .play-btn {
  background: var(--purple);
  outline: none;
  border: none;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  cursor: pointer;
  align-self: center;
  animation: pulse .6s linear infinite alternate-reverse 1s;
}

.main-screen .play-btn img {
  font-weight: 800;
  position: absolute;
  align-self: center;
  justify-self: center;
  transform: translate(-40%);
  height: 1rem;
  width: 1rem;
  left: 50%;
}

@keyframes bounce {
  0% {
    transform: rotateZ(2deg);
  }
  100% {
    transform: rotateZ(-2deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(104%);
  }
}