@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

:root {
  --purple: rgb(111, 133, 255);
}

* {
  font-family: 'Inter' !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .app {
  display: flex;
  flex: 1 1;
  height: 100%;
  width: 100%;
  background: rgb(16, 16, 16);
  overflow: hidden;
}

button, button:focus {
  outline: none;
  border: none;
  color: rgb(16, 16, 16);
}


.flex, .flex-col { 
  display: flex;
}
.flex-col { 
  flex-direction: column;
}
.flex-fill {
  flex: 1 1;
}

.overflow {
  overflow: overlay;
  scroll-behavior: smooth;
}



.bg-gray {
  background: rgb(55, 55, 55);
  color: white;
}

.bg-green {
  background: rgb(30, 170, 45);
  color: white;
}

.bg-yellow {
  background: rgb(238, 204, 7);
  color: white;
}

.bg-neutral {
  background: rgb(100, 100, 100);
  color: white;
}

.bg-placeholder {
  outline: 1px solid rgb(100, 100, 100);
  color: white;
}

.main-screen {
  align-items: center;
  justify-content: center;
  color: var(--purple);
}

.main-screen > .title-label {
  font-size: 18vw;
  font-weight: 900;
  animation: bounce .6s linear infinite alternate-reverse;
  margin-bottom: 5vh;
}

.main-screen > .menu {
  width: 100%;
  align-items: center;
}

.main-screen > .menu button {
  background: var(--purple);
  font-weight: 800;
  font-size: 4vmin;
  outline: none;
  border: none;
  height: 30vmin;
  width: 30vmin;
  border-radius: 100%;
  cursor: pointer;
}

.main-screen > .menu button:nth-child(odd) {
  margin-left: -30%;
  animation: pulse .6s linear infinite alternate-reverse;
}

.main-screen > .menu button:nth-child(even) {
  margin-right: -30%;
  animation: pulse .6s linear infinite alternate-reverse 1s;
}

@keyframes bounce {
  0% {
    transform: rotateZ(2deg);
  }
  100% {
    transform: rotateZ(-2deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(104%);
  }
}