@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

:root {
    --purple: rgb(111, 133, 255);
    --red: red;
    --gray: rgb(55, 55, 55);
    --green: rgb(30, 170, 45);
    --yellow: rgb(226, 193, 4);
    --neutral: rgb(100, 100, 100);
    --placeholder: rgb(100, 100, 100);
}

* {
    font-family: 'Inter', Arial, Helvetica, sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body,
#root,
.app {
    display: flex;
    flex: 1 1;
    height: 100%;
    width: 100%;
    background: rgb(16, 16, 16);
    overflow: hidden;
}

a,
a:visited {
    background: initial;
    text-decoration: none;
}

button {
    color: rgb(16, 16, 16);
}

button,
button:focus {
    outline: none;
    border: none;
    user-select: none;
}

.flex,
.flex-col {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-fill {
    flex: 1 1;
}
.flex-middle {
    align-items: center;
}
.flex-center {
    justify-content: center;
}

.hidden {
    opacity: 0;
}

.overflow {
    overflow: overlay;
    scroll-behavior: smooth;
}

.underline {
    text-decoration: underline;
}

.bg-gray {
    background: var(--gray);
}

.bg-green {
    background: var(--green);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-red {
    background: var(--red);
}

.bg-neutral {
    background: var(--placeholder);
}

.bg-placeholder {
    outline: 1px solid var(--gray);
}

.bg-placeholder.active {
    outline: 1px solid var(--placeholder);
    animation: letter-pulse 0.1s linear 0s 1 both alternate-reverse;
}

@keyframes letter-pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.back-btn,
.settings-btn {
    cursor: pointer;
}

.float-left,
.back-btn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 99;
}

.float-right {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 99;
}

.float-center {
    position: fixed;
    top: 1rem;
    align-self: center;
    z-index: 99;
}

.input,
.input:focus {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    font-weight: 800;
    text-align: center;
    outline: none;
    border: none;
    width: 16rem;
    background: transparent;
    color: var(--purple);
    border-bottom: 0.2rem solid var(--purple);
    border-radius: 0;
}

.input::placeholder {
    color: var(--purple);
    opacity: 0.6;
}

.floating-purple-text,
.back-btn {
    font-size: 1.3rem;
    font-weight: bold;
    background: transparent;
    color: var(--purple);
}

.main-screen {
    align-items: center;
    justify-content: center;
    color: var(--purple);
}

.main-screen > .title-label {
    font-size: 18vw;
    font-weight: 900;
    animation: bounce 0.6s linear infinite alternate-reverse;
}

.main-screen > .menu {
    width: 100%;
    align-items: center;
}

.main-screen > .menu button {
    background: var(--purple);
    font-weight: 800;
    font-size: 4vmin;
    outline: none;
    border: none;
    height: 30vmin;
    width: 30vmin;
    border-radius: 100%;
    cursor: pointer;
}

.main-screen > .menu button:nth-child(odd) {
    margin-left: -30%;
    animation: pulse 0.6s linear infinite alternate-reverse;
}

.main-screen > .menu button:nth-child(even) {
    margin-right: -30%;
    animation: pulse 0.6s linear infinite alternate-reverse 1s;
}

.main-screen .input {
    margin-bottom: 2rem;
}

.main-screen .play-btn {
    background: var(--purple);
    outline: none;
    border: none;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    cursor: pointer;
    align-self: center;
    animation: pulse 0.6s linear infinite alternate-reverse 1s;
}

.main-screen .play-btn img {
    font-weight: 800;
    position: absolute;
    align-self: center;
    justify-self: center;
    transform: translate(-40%);
    height: 1rem;
    width: 1rem;
    left: 50%;
}

@keyframes bounce {
    0% {
        transform: rotateZ(2deg);
    }
    100% {
        transform: rotateZ(-2deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.04);
    }
}

.progress .progress-bar {
    transition: width 0.2s linear;
}
