.game-board {
  overflow: hidden;
}

.game-board:focus {
  outline: none;
}

.game-board-letter-wrapper {
  flex-basis: 20%;
}

.game-board-letter {
  font-size: 5vw;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  min-height: 3.5rem;
  user-select: none;
  margin: .15rem .15rem;
}

.game-board-list {
  padding: 1rem 1.5rem;
}

.game-board ::-webkit-scrollbar {
  width: 0;
}

.game-board .keyboard {
  padding: .2rem;
}

.game-board-last .game-board-letter-wrapper {
  opacity: 0;
  z-index: 100;
}

.game-board-last .game-board-letter-wrapper:nth-child(1) {
  animation: visibility .2s linear 0s 1 forwards;
}
.game-board-last .game-board-letter-wrapper:nth-child(2) {
  animation: visibility .2s linear .05s 1 forwards;
}
.game-board-last .game-board-letter-wrapper:nth-child(3) {
  animation: visibility .2s linear .1s 1 forwards;
}
.game-board-last .game-board-letter-wrapper:nth-child(4) {
  animation: visibility .2s linear .15s 1 forwards;
}
.game-board-last .game-board-letter-wrapper:nth-child(5) {
  animation: visibility .2s linear .2s 1 forwards;
}

@keyframes visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.game-board-current {
  margin-top: -3.5rem;
  animation: slide-down .5s ease 0s 1 forwards;
}

@keyframes slide-down {
  0% {
    margin-top: -3.5rem;
  }
  100% {
    margin-top: 0;
  }
}