.game .game-lobby {
  align-items: center;
  justify-content: space-between;
}

.game .game-end {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.795);
  z-index: 100;
}

.game-end ~ * {
  filter: blur(1px) !important;
}

.game-end-label {
  color: var(--purple);
  font-weight: 800;
  font-size: 3rem;
}

.game-end-word {
  color: var(--purple);
  font-weight: 800;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.game-end button {
  background: var(--purple);
  font-weight: 800;
  font-size: 4vmin;
  outline: none;
  border: none;
  height: 25vmin;
  width: 25vmin;
  border-radius: 100%;
  cursor: pointer;
  animation: pulse .6s linear infinite alternate-reverse;
  margin: 2rem;
}

.game-lobby .room-code {
  font-weight: 800;
  font-size: 20vmin;
  color: var(--purple);
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem 2rem;
}

.game-lobby p {
  color: var(--purple);
  font-weight: 800;
  align-items: center;
  justify-content: center;
  font-size: 12vmin;
  flex-wrap: wrap;
  padding: 1rem;
  text-align: center;
}

.game-lobby .start-btn {
  background: var(--purple);
  font-weight: 800;
  font-size: 4vmin;
  outline: none;
  border: none;
  height: 35vmin;
  width: 35vmin;
  border-radius: 100%;
  cursor: pointer;
  animation: pulse .6s linear infinite alternate-reverse;
  margin: 2rem;
}

.settings-panel {
  padding: 1rem;
  color: var(--purple);
  font-weight: 800;
  font-size: 1.2rem;
}

.settings-panel input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.settings-panel > * {
  margin-bottom: 1.2rem;
}