.game-board {
  --side-padding: 1.2rem;
  overflow: hidden;
}

.game-board:focus {
  outline: none;
}

.game-board-letter-wrapper {
  flex-basis: 20%;
}

.game-board-letter {
  font-size: 5vw;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  min-height: 3.5rem;
  user-select: none;
  margin: .15rem .15rem;
  color: white;
}

.game-board-list {
  padding: 3rem var(--side-padding);
}

.game-board ::-webkit-scrollbar {
  width: 0;
}

.game-board .keyboard {
  padding: .2rem;
}

.game-board-last .game-board-letter {
  z-index: 100;
  transition: background .2s ease;
}

.game-board-current {
  animation: show-current 1s ease 0s 1 forwards;
}

.game-board-progress {
  height: .5rem;
  padding: 0 var(--side-padding);
}

@keyframes show-current {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}