.game .game-lobby {
  align-items: center;
  justify-content: space-between;
}

.game-lobby .room-code {
  font-weight: 800;
  font-size: 20vmin;
  color: var(--purple);
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.game-lobby p {
  color: var(--purple);
  font-weight: 800;
  align-items: center;
  justify-content: center;
  font-size: 12vmin;
  flex-wrap: wrap;
  padding: 1rem;
  text-align: center;
}

.game-lobby .start-btn {
  background: var(--purple);
  font-weight: 800;
  font-size: 4vmin;
  outline: none;
  border: none;
  height: 35vmin;
  width: 35vmin;
  border-radius: 100%;
  cursor: pointer;
  animation: pulse .6s linear infinite alternate-reverse;
  margin: 2rem;
}
