.keyboard-row {
    height: 100%;
    max-width: 100vw;
    justify-content: center;
}

.keyboard-key-container {
    padding: 0.17rem;
}

.keyboard-key {
    font-size: 1.1rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: 1.9rem;
    height: 3rem;
    user-select: none;
    border-radius: 0.2rem;
    user-select: none;
    color: white;
}

.keyboard-key:active {
    background: var(--gray);
}

.keyboard-key#enter,
.keyboard-key#backspace {
    width: 3rem;
}

.keyboard-key#enter {
    font-size: 0.75rem;
}

.keyboard.disabled,
.keyboard.disabled * {
    touch-action: none;
    pointer-events: none;
    opacity: 0.7;
}
